@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rock+Salt&family=Space+Grotesk:wght@300..700&family=Supermercado+One&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Lexend:wght@100..900&display=swap');

.font-bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-amatic-sc {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-rock-salt {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-supermercado {
  font-family: "Supermercado One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-savate {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}